<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Arena Campestre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
	<header>
	   <div class="header-container">
	   	<div>
	   	  <div class="nav-box">
	      	<h1>Arena Campestre</h1>
	      </div>
	      <div class="nav-box">
	      	<a sec:authorize ="isAuthenticated()" href="/home" class="remove-link nav-text">Home</a>
	      	<a href="/manager/event" class="remove-link nav-text ml-2">Criar evento</a>
	      	<a href="/manager/seatsForSale" class="remove-link nav-text ml-2">Colocar cadeiras a venda</a>
	      	<a href="/manager/report" class="remove-link nav-text ml-2">Emitir relatório</a>
	      </div>
	   	</div>
      </div>
    </header>
    <div class="container-md pt-5">
      <form class="mb-2" th:action="@{/manager/report}" method="get">
			<input type="date" class="form-control" name="date" placeholder="dd-mm-yyyy">
			<button class="btn btn-lg button-primary btn-block mt-2" type='submit'> Pesquisar </button>
      </form>
      <div class="card mb-2">
		  <div class="card-body row">
		   	<div class="col">
		      Cliente
		    </div>
		    <div class="col">
		      Cadeira
		    </div>
		    <div class="col">
		      Preço
		    </div>
		    <div class="col">
		      Data
		    </div>
		  </div>
	  </div>
      <div th:each="purchase: ${purchases}" class="card mb-2">
		  <div class="card-body row">
		   	<div class="col">
		      <span th:text="${purchase.customer.username}"></span>
		    </div>
		    <div class="col">
		      <span th:text="${purchase.seat.code}"></span><span>&emsp;</span><span th:text="${purchase.seat.sector}"></span>
		    </div>
		    <div class="col">
		      <span th:text="${purchase.price}"></span>
		    </div>
		    <div class="col">
		      <span th:text="${purchase.createdAt}"></span>
		    </div>
		  </div>
	  </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>
</html>